body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'FFAF';
  src: local('public/fonts/FFAF.ttf');
}

@font-face {
  font-family: 'Daydream';
  src: local('public/fonts/Daydream.ttf');
}

#BAC {
  font-family: 'Daydream';
  font-size: '10vmin';
}

.GUI {
  font-family: 'Daydream';
  font-size: '4vmin';
}

.icon {
    scale: 0.8;
    animation: unhovered 0.3s
}

    .icon:hover {
        scale: 1;
        animation: hovered 0.3s
    }

@keyframes hovered {
    from {
        scale: 0.8
    }

    to {
        scale: 1
    }
}

@keyframes unhovered {
    from {
        scale: 1
    }

    to {
        scale: 0.8
    }
}

.back {
    scale: 20;
}